Source: impd4e
Section: net
Priority: extra
Maintainer: Packet Tracking <packettracking@fokus.fraunhofer.de>
Uploaders: Ramón Masek <ramon.masek@fokus.fraunhofer.de>
Build-Depends: debhelper (>= 7), autotools-dev, libc6 (>= 2.7), libev-dev (>= 3.0), libpcap0.8-dev (>= 0.9.8), libipfix-dev (>= 0.8.2)
Standards-Version: 3.8.4
Homepage: http://www.ip-measurement.org/impd4e

Package: impd4e
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a small network probe, exporting packet ids over IPFIX
  impd4e is a small network probe which allows monitoring and samples 
  datagrams from the network.
  The collected data are exported with hash-based packet IDs using the export
  protocol IPFIX (see RFC 5101)
