Source: impd4e
Section: net
Priority: extra
Maintainer: Ramon Masek <ramon.masek@fokus.fraunhofer.de>
Build-Depends: debhelper (>= 7), autotools-dev, libc6 (>= 2.7), libev3 (>= 3.0), libpcap0.8 (>= 0.9.8)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: impd4e
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
